/*@charset "utf-8";*/

#login-button{
    text-align:center;
    width:250px;
    padding:10px 15px;
    color:white;
    background-color:red;
}

.container{
  margin:0 auto;
  padding:80px 0;
  height:400px;
  text-align:center;
}
h1{
      font-size:40px;
      font-weight:200;
      color:white;
      background-color:rgb(26, 128, 0);
  }

form{
    padding:20px 0;
    position:relative;
}
input{
        border:1px;
        margin:0 auto 10px auto;

    }